/* body {
    background: #ede9de; 
  }

@keyframes hideMe{
    0%{
        opacity: 1;
    }
    99.9%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.hideme{
    animation: hideAnimation 0s ease-in 2s;
    animation: hideMe 2s forwards;;
  }

@keyframes appear{
    0%{
        opacity: 0;
    }
    99.9%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.appear{
    animation: appear 2s forwards;
  }
  
  .container {
    left: 50%;
    margin: auto -50px;
    position: absolute;
    top: 50%;
    background: #ede9de; 
  }
  .swing div {
    border-radius: 50%;
    float: left;
    height: 1em;
    width: 1em;
  }
  .swing div:nth-of-type(1) {
    background: -webkit-linear-gradient(left, #385c78 0%, #325774 100%);
    background: linear-gradient(to right, #385c78 0%, #325774 100%);
  }
  .swing div:nth-of-type(2) {
    background: -webkit-linear-gradient(left, #325774 0%, #47536a 100%);
    background: linear-gradient(to right, #325774 0%, #47536a 100%);
  }
  .swing div:nth-of-type(3) {
    background: -webkit-linear-gradient(left, #4a5369 0%, #6b4d59 100%);
    background: linear-gradient(to right, #4a5369 0%, #6b4d59 100%);
  }
  .swing div:nth-of-type(4) {
    background: -webkit-linear-gradient(left, #744c55 0%, #954646 100%);
    background: linear-gradient(to right, #744c55 0%, #954646 100%);
  }
  .swing div:nth-of-type(5) {
    background: -webkit-linear-gradient(left, #9c4543 0%, #bb4034 100%);
    background: linear-gradient(to right, #9c4543 0%, #bb4034 100%);
  }
  .swing div:nth-of-type(6) {
    background: -webkit-linear-gradient(left, #c33f31 0%, #d83b27 100%);
    background: linear-gradient(to right, #c33f31 0%, #d83b27 100%);
  }
  .swing div:nth-of-type(7) {
    background: -webkit-linear-gradient(left, #da3b26 0%, #db412c 100%);
    background: linear-gradient(to right, #da3b26 0%, #db412c 100%);
  }
  .shadow {
    clear: left;
    padding-top: 1.5em;
  }
  .shadow div {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    float: left;
    width: 1em;
    height: .25em;
    border-radius: 50%;
    background: #ede9de;
  }
  .shadow .shadow-l {
    background: #d5d8d6;
  }
  .shadow .shadow-r {
    background: #eed3ca;
  }
  @-webkit-keyframes ball-l {
    0%, 50% {
      -webkit-transform: rotate(0) translateX(0);
      transform: rotate(0) translateX(0);
    }
    100% {
      -webkit-transform: rotate(50deg) translateX(-2.5em);
      transform: rotate(50deg) translateX(-2.5em);
    }
  }
  @keyframes ball-l {
    0%, 50% {
      -webkit-transform: rotate(0) translate(0);
      transform: rotate(0) translateX(0);
    }
    100% {
      -webkit-transform: rotate(50deg) translateX(-2.5em);
      transform: rotate(50deg) translateX(-2.5em);
    }
  }
  @-webkit-keyframes ball-r {
    0% {
      -webkit-transform: rotate(-50deg) translateX(2.5em);
      transform: rotate(-50deg) translateX(2.5em);
    }
    50%,
    100% {
      -webkit-transform: rotate(0) translateX(0);
      transform: rotate(0) translateX(0);
    }
  }
  @keyframes ball-r {
    0% {
      -webkit-transform: rotate(-50deg) translateX(2.5em);
      transform: rotate(-50deg) translateX(2.5em);
    }
    50%,
    100% {
      -webkit-transform: rotate(0) translateX(0);
      transform: rotate(0) translateX(0)
    }
  }
  @-webkit-keyframes shadow-l-n {
    0%, 50% {
      opacity: .5;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      opacity: .125;
      -webkit-transform: translateX(-1.57em);
      transform: translateX(-1.75em);
    }
  }
  @keyframes shadow-l-n {
    0%, 50% {
      opacity: .5;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      opacity: .125;
      -webkit-transform: translateX(-1.75);
      transform: translateX(-1.75em);
    }
  }
  @-webkit-keyframes shadow-r-n {
    0% {
      opacity: .125;
      -webkit-transform: translateX(1.75em);
      transform: translateX(1.75em);
    }
    50%,
    100% {
      opacity: .5;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  @keyframes shadow-r-n {
    0% {
      opacity: .125;
      -webkit-transform: translateX(1.75em);
      transform: translateX(1.75em);
    }
    50%,
    100% {
      opacity: .5;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  .swing-l {
    -webkit-animation: ball-l .425s ease-in-out infinite alternate;
    animation: ball-l .425s ease-in-out infinite alternate;
  }
  .swing-r {
    -webkit-animation: ball-r .425s ease-in-out infinite alternate;
    animation: ball-r .425s ease-in-out infinite alternate;
  }
  .shadow-l {
    -webkit-animation: shadow-l-n .425s ease-in-out infinite alternate;
    animation: shadow-l-n .425s ease-in-out infinite alternate;
  }
  .shadow-r {
    -webkit-animation: shadow-r-n .425s ease-in-out infinite alternate;
    animation: shadow-r-n .425s ease-in-out infinite alternate;
  } */

*{
    margin:0;
    padding:0;
}

 
.background {
	background: linear-gradient(-45deg, #c1e7e3,#dcfffb, #ffdcf4, #dabfde, #cbc6e4);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.showcase{
    margin:0;
    font-family:'Poppins', monospace;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
  
.showcase p{
    color:#343434;
    align-items: center;
    font-weight: 200;
  }
  
.showcase h1{
    line-height: 0.8; 
    color:#343434;
    font-size:7vw; 
    font-weight: 600;
  }
  
.intro{
  word-wrap: break-word;
    font-family:'Poppins', monospace;
    text-align: center;
    padding-left: 10vw;
    color:#343434;
    padding-top: 10vw;
    padding-bottom: 4vw;
    padding-right: 15vw;
  }

.intro h2{
  padding-bottom: 4vw;
  font-size: 2vw;
}

.intro h5{
  font-weight: 600;
}

.intro a{ 
  text-decoration: none;
  color: #343434; 
}
  
.intro p{
  padding-top: 2vw;
  color:#343434;
  font-weight: 300;
  font-size: 1.5vw;
  padding-bottom: 2vw;
}

.intro h6{
  font-weight: 600;
  font-size: 1.3vw;
  padding-bottom: 4vw;
}

.intro img{
  /* border-radius: 25px; */
  width: 50%;
  max-width: 300px;
  height: 50%;
  max-height: 300px;
}

hr.solid{
 border-top: 1px solid #343434;
}

.education{
  word-wrap: break-word;
  font-family:'Poppins', monospace;
  text-align: center;
  padding-left: 10vw;
  color:#343434;
  padding-bottom: 4vw;
  padding-right: 15vw;
}

.education h4{
padding-bottom: 3vw;
/* line-height: 0; */
font-size: 2vw;
}

.education h2{
  font-size: 3.5vw;
  line-height: 4.25vw;
  font-weight: 600;
}

.education h6{
  font-size: 1.5vw;
  /* line-height: 5vw; */
  font-weight: 500;
}

.education p{
padding-top: 0.5vw;
color:#343434;
font-weight: 300;
font-size: 1.5vw;
padding-bottom: 4vw;
}

.workex{
  word-wrap: break-word;
  font-family:'Poppins', monospace;
  text-align: center;
  padding-left: 10vw;
  color:#343434;
  padding-bottom: 4vw;
  padding-right: 15vw;
}

.workex h4{
padding-bottom: 3vw;
/* line-height: 0; */
font-size: 2vw;
}

.workex h2{
  font-size: 3.5vw;
  line-height: 4.25vw;
  font-weight: 600;
}

.workex h6{
  font-size: 1.5vw;
  /* line-height: 5vw; */
  font-weight: 500;

}

.workex p{
  padding-top: 0.5vw;
color:#343434;
font-weight: 300;
font-size: 1.5vw;
padding-bottom: 4vw;
}

.extracurriculars{
  word-wrap: break-word;
  font-family:'Poppins', monospace;
  text-align: center;
  padding-left: 10vw;
  color:#343434;
  padding-bottom: 4vw;
  padding-right: 15vw;
}

.extracurriculars h4{
padding-bottom: 3vw;
/* line-height: 0; */
font-size: 2vw;
}

.extracurriculars h2{
  font-size: 3.5vw;
  line-height: 4.25vw;
  font-weight: 600;
}

.extracurriculars h6{
  font-size: 1.5vw;
  /* line-height: 5vw; */
  font-weight: 500;

}

.extracurriculars p{
  padding-top: 0.5vw;
color:#343434;
font-weight: 300;
font-size: 1.5vw;
padding-bottom: 4vw;
}

.fellowships{
  word-wrap: break-word;
  font-family:'Poppins', monospace;
  text-align: center;
  padding-left: 10vw;
  color:#343434;
  padding-bottom: 4vw;
  padding-right: 15vw;
}

.fellowships h4{
padding-bottom: 3vw;
/* line-height: 0; */
font-size: 2vw;
}

.fellowships h2{
  font-size: 3.5vw;
  line-height: 4.25vw;
  font-weight: 600;
}

.fellowships h6{
  font-size: 1.5vw;
  /* line-height: 5vw; */
  font-weight: 500;
}

.fellowships p{
  padding-top: 0.5vw;
color:#343434;
font-weight: 300;
font-size: 1.5vw;
padding-bottom: 4vw;
}

.awards{
  word-wrap: break-word;
  font-family:'Poppins', monospace;
  text-align: center;
  padding-left: 10vw;
  color:#343434;
  padding-bottom: 4vw;
  padding-right: 15vw;
}

.awards h4{
padding-bottom: 3vw;
/* line-height: 0; */
font-size: 2vw;
}

.awards h2{
  font-size: 3.5vw;
  line-height: 4.25vw;
  font-weight: 600;
}

.awards h6{
  font-size: 1.5vw;
  /* line-height: 5vw; */
  font-weight: 500;
}

.awards p{
  padding-top: 0.5vw;
color:#343434;
font-weight: 300;
font-size: 1.5vw;
padding-bottom: 4vw;
}


.projects{
  word-wrap: break-word;
  font-family:'Poppins', monospace;
  text-align: center;
  padding-left: 10vw;
  color:#343434;
  padding-bottom: 4vw;
  padding-right: 15vw;
}

.projects h4{
padding-bottom: 3vw;
/* line-height: 0; */
font-size: 2vw;
}

.projects a{
  text-decoration: none;
  color: #343434;
}

.projects a:hover{
  color: #8eeee4;
}

.projects h2{
  font-size: 3.5vw;
  line-height: 4.25vw;
  font-weight: 600;
  text-decoration: none;
}

.projects h6{
  font-size: 1.5vw;
  /* line-height: 5vw; */
  font-weight: 500;
}

.projects p{
  padding-top: 0.5vw;
color:#343434;
font-weight: 300;
font-size: 1.5vw;
padding-bottom: 4vw;
}

.inter{
  word-wrap: break-word;
  font-family:'Poppins', monospace;
  text-align: center;
  padding-left: 10vw;
  color:#343434;
  padding-bottom: 4vw;
  padding-right: 15vw;
}

.inter h4{
padding-bottom: 3vw;
/* line-height: 0; */
font-size: 2vw;
}

.inter a{
  text-decoration: none;
  color: #343434;
}

.inter a:hover{
  color: #fdd3f8;
}

.inter h2{
  font-size: 3.5vw;
  line-height: 4.25vw;
  font-weight: 600;
  text-decoration: none;
}

.inter h6{
  font-size: 1.5vw;
  /* line-height: 5vw; */
  font-weight: 500;
}

.inter p{
  padding-top: 0.5vw;
color:#343434;
font-weight: 300;
font-size: 1.5vw;
padding-bottom: 4vw;
}


